.calendar-league {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #000;
    font-size: 18px;
    background: #ccc;
    border-radius: 5px;
}

    .calendar-league div {
        text-align: center;
        border-right: 1px solid #000;
        width: 11%;
    }

        .calendar-league div:last-child {
            border-right: 0px;
        
        }

            .not-found-page {
                margin-left: 10px;
                border-radius: 5px;
                padding: 3px;
            }

    .not-found-page:hover {
        background-color: #fff;  
    }

    .not-found-page a {
        text-decoration: none;
    }

    .not-found-page a:hover {
        color: red;
    }